<!DOCTYPE html>
<html>
<head>
    <title>{{ .Params.Title | default "Title" }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ "assets/css/main.css" | absURL }}"/>
    <link rel="canonical" href="{{ .Permalink }}">
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="My PWA" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <script>
    if('serviceWorker' in navigator) {

        /**
         * Define if <link rel='next|prev|prefetch'> should
         * be preloaded when accessing this page
         */
        const PREFETCH = true;

        /**
         * Define which link-rel's should be preloaded if enabled.
         */
        const PREFETCH_LINK_RELS = ['index','next', 'prev', 'prefetch'];

        /**
         * prefetchCache
         */
        function prefetchCache() {
            if(navigator.serviceWorker.controller) {

                let links = document.querySelectorAll(
                    PREFETCH_LINK_RELS.map((rel) => {
                        return 'link[rel='+rel+']';
                    }).join(',')
                );

                if(links.length > 0) {
                    Array.from(links)
                        .map((link) => {
                            let href = link.getAttribute('href');
                            navigator.serviceWorker.controller.postMessage({
                                action : 'cache',
                                url : href,
                            });
                        });
                }


            }
        }

        /**
         * Register Service Worker
         */
        navigator.serviceWorker
            .register('/sw.js', { scope: '/' })
            .then(() => {
                console.log('Service Worker Registered');
            });

        /**
         * Wait if ServiceWorker is ready
         */
        navigator.serviceWorker
            .ready
            .then(() => {
                if(PREFETCH) {
                    prefetchCache();
                }
            });

    }
</script> 
    <noscript><link rel="stylesheet" href="{{ "assets/css/noscript.css" | absURL }}"/></noscript>
    <style>
        :root{--site-background : url("{{ .Params.background | default "images/bg.jpg" | absURL }}")};
    </style> 
    <!-- Include the script that enables Netlify Identity on this page. -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
